@import "../css/base.scss";
 

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;
a{
    color:inherit;
}
.wm-tab-list{
    li{
        height: 50px;
        line-height: 50px;
        text-indent: 1em;
        font-size:14px;
        cursor: pointer;
        a{
            color:#b2b2b2;
            display: block;
            width: 100%;
            height: 100%;

        }
        &.active{
            color:#fff;
            background: #ce0401;
            @include pos(r);
            a{
                color:#fff;
            }
            &:before{
                content:'';
                @include pos(a);
                width: 4px;
                height: 100%;
                background:#7d1815;
                left: 0;
                top: 0;
            }
        }
        i{
            font-size:20px;
            vertical-align: middle;
            margin-right: 10px;
            
        }
    }
}