/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-login-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.wm-login-ui > header {
  height: 64px;
  line-height: 64px;
  width: 100%;
  background: -webkit-linear-gradient(left, #e4270e, #cc0000);
  background: linear-gradient(to left, #e4270e, #cc0000);
}

.wm-login-ui > header img {
  width: 100px;
  margin-left: 30px;
  vertical-align: middle;
  font-size: 0;
}

.wm-login-ui > header span {
  position: absolute;
  font-size: 36px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}

.wm-login-ui > section {
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.wm-login-ui > section .wm-login-C {
  width: 300px;
  min-height: 60vh;
  position: relative;
}

.wm-login-ui > section .wm-login-C .wm-login-title {
  margin-bottom: 7vh;
}

.wm-login-ui > section .wm-login-C .wm-form-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.wm-login-ui > section .wm-login-C .wm-form-item input {
  border: none;
  width: 85%;
  height: 30px;
  margin-left: 20px;
  font-size: 16px;
  outline: none;
  vertical-align: middle;
}

.wm-login-ui > section .wm-login-C .wm-form-item input::-webkit-input-placeholder {
  font-size: 14px;
  color: #dadada;
}

.wm-login-ui > section .wm-login-C .wm-form-item i {
  font-size: 24px;
  vertical-align: middle;
}

.wm-login-ui > section .wm-login-C .wm-form-remember {
  text-align: right;
  font-size: 16px;
  color: #8b8c90;
}

.wm-login-ui > section .wm-login-C .wm-form-remember input {
  vertical-align: middle;
}

.wm-login-ui > section .wm-login-C .wm-form-login-btn {
  height: 120px;
  position: relative;
}

.wm-login-ui > section .wm-login-C .wm-form-login-btn .wm-login-btn {
  width: 100%;
  height: 36px;
  background: #df200c;
  color: #fff;
  text-align: center;
  line-height: 36px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.wm-login-ui > section .wm-login-C .wm-form-login-btn .wm-form-errmsg {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #df200c;
  background: rgba(119, 56, 51, 0.1);
  font-size: 14px;
  top: 30px;
  position: absolute;
}

.wm-login-ui > section .wm-login-C .wm-form-login-btn .wm-form-errmsg.error-enter-active, .wm-login-ui > section .wm-login-C .wm-form-login-btn .wm-form-errmsg.error-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wm-login-ui > section .wm-login-C .wm-form-login-btn .wm-form-errmsg.error-enter, .wm-login-ui > section .wm-login-C .wm-form-login-btn .wm-form-errmsg.error-leave-to {
  opacity: 0;
}

.wm-login-ui > section .wm-login-C .wm-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
