@import "../css/base.scss";
.layout{
	.layout-logo{
		color: #FFF;
		img{
			height: 35px;
			width: auto;
		}
	}

	.ivu-layout-header{
		 background: -webkit-linear-gradient(left, #e4270e, #cc0000);
		 background:linear-gradient(to left, #e4270e, #cc0000);
		 @include displayFlex(row);
		 justify-content: space-between;
		 &>div{
			 margin: 0 20px;

			 &:nth-of-type(1){
				 @include displayFlex(row);
				 color:#fff;
				 font-size:30px;
				 font-weight: bold;

				 .wm-title{
					 margin-left: 20px;
					 img{
						width: 280px;
					 }
					 @include pos(r);
				 }

				 span{
					 @include pos(a);
					 right: 0;
					 width: 50%;
					 text-align: center;
					 top: 10px;
					 
					 font-size:14px;
					 color:#e4270e;
				 }
			 }

			 &.wm-user-info{
				 @include displayBox(row);
				 border-left:1px solid #b30501;
				 img{
					 width: 40px;
					 display: block;
					 margin-left: 10px;

					 &.wm-logout{
						 width: 26px;
					 }
					 
				 }
				 span{
					 margin:0 40px 0 20px;
					 display: block;
					 font-size:16px;
					 color:#fff;
				 }
				 i{
					 font-size:36px;
					 color:#fff;
					 display: block;
					 cursor: pointer;
				 }
			 }
		 }
		 
		 
		 /* Safari 5.1 - 6.0 */
	}

	.wm-user{
		border:1px solid red;
		img{
			width: 50px;
		}
	}

	.wm-tab-C{
		background:#282828;
		width: 50px;
		text-align: center;
		padding-top: 5px;
		cursor: pointer;
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
		li{
			&.active{
				background: #7d1815;
			}
			height: 50px;
			line-height: 50px;
			&:nth-of-type(1){
				img{
					width: 18px;
				}
			}
		}
		img{
			width: 20px;
		}
	}

	.ivu-layout-sider-children{
		overflow: hidden;
	}

	.layout-nav{
		li>a{
			color:rgba(255, 255, 255, 0.7);
			&:hover{
				color:rgba(255, 255, 255, 1);
			}
		
			&.router-link-active{
				color:rgba(255, 255, 255, 1);
			}
		}
	}

	.wm-main-layout{
		@include displayFlex(row);
	}

	.symbin-main-menu{
		background: #333744!important;
		li{
			@include pos(r);
		}
		a{
			@include pos(a);
			width: 100%;
			height: 100%;
			color:inherit;
			left: 0;
			top:0;
			text-align: center;
			line-height: 50px;
		}
		a:hover{
			color: inherit;
		}
	}

	i.ivu-icon-ionic{
		opacity: 0;
	}
	.ivu-menu-item > a > i{
		margin-right: 6px;
	}
	.ivu-menu-submenu .ivu-menu-item{
		padding-left: 24px!important;
	}
}