@import "../css/base.scss";
 

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-history-ui{
    .wm-history-list{

        background: #fff;
        text-align: center;
        padding-bottom: 20px;
        font-size:14px;
        ul{
             width: 96%;
             margin:40px auto;
            border-left: 1px solid #e9eaec;
            border-top: 1px solid #e9eaec;
            box-sizing: border-box;
            @include pos(r);
            
        }
        li{
           
            height: 34px;
            line-height: 34px;
            @include displayFlex(row);
         
            &>div{
                text-align: center;
                 border-bottom: 1px solid #e9eaec;
                 border-right: 1px solid #e9eaec;
                //border:1px solid red;
            }
            @include pos(r);
            &:first-of-type{
                @include pos(a);
                top: -30px;
                font-weight: bold;

            }
            &:nth-of-type(2){
                background: #f8f8f9;
                color:#111;
                font-weight: bold;
            }
            .wm-department-username{
                
                max-width: 80px;
                //border:1px solid red;
                margin: 0 auto;
//                text-align: left;
                
            }
        }
        .wm-history-date{
            height: 50px;
            line-height: 70px;
            text-align: right;
            width: 96%;
            border-bottom: 1px solid #e9eaec;
            margin: 0 auto;
            color:#56a4f3;
            font-size:14px;
            font-weight: bold;
            span {
                color: #6a6a6a;
                margin-right: 10px;
            }
        }
    }
    &>div {
        overflow: hidden;
        @include pos(r);
    }
}
