@import "../css/base.scss";

.wm-tab-ui {
	background: #fff;
	.wm-tab-bar{
		width: 200px;
		height: 100%;
		background: #353535;
		@include pos(a);
		left: 0;
		top: 0;
		z-index: 10;
		overflow: hidden;
		color:#b2b2b2;

	 

		.wm-tab-title{
			width:100%;
			height: 70px;
			line-height: 70px;
			text-indent: 1em;
			font-weight: bold;
			font-size:14px;
			
			//background: #D9DEE4;
		}
		.wm-tab-menu{
			.ivu-menu-submenu-title,.ivu-menu-item{
				background: #EAEDF1!important;
			}
			.ivu-menu{
				.ivu-menu-submenu-title,.ivu-menu-item{
				background: #f4f6f8!important;
				}	
			}
		}

		.wm-tab-btn{
			width: 50px;
			height: 40px;
			@include pos(a);
			z-index: 10;
			top: 50%;
			right: 0;
			cursor: pointer;
			@include transform3d();

			@include transform(translate3d(5px,0,0));
			@include transition(.1s);

			&:hover{
				@include transform(translate3d(0,0,0));				
			}

			&:after{
				content:'';
				@include pos(a);
				width: 100%;
				height: 100%;
				background: #ccc;
				z-index: 0;
				left: 0;
				@include transformOrigin(right);
				@include transform(rotateY(-55deg));

			}
			img{
				width: 20px;
				@include pos(a);
				z-index: 2;
				left: 25px;
				top: 10px;
			}
		}

		 

	}

	.wm-tab-content{
		@include pos(a);
		height: 100%;
		z-index: 1;
		right: 0;
	}

}
